body {
    background-color: #6e757c;
}
.navbar-brand {
    font-weight: bold;
}
.card {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.table th, .table td {
    vertical-align: middle;
}
.delete-btn {
    color: rgb(127, 111, 111);
    background-color: #dc3545;
    border-color: #dc3545;
}
.delete-btn:hover {
    background-color: #c82333;
    border-color: #bd2130;
}